 .navbar {
    display: flex;
    background-color:  #6E6C57;
    width: 50%;
     margin: auto;
     top: 0px;
    color:white;
    border-radius: 5px;
    
}

.navbar h2{
    position:relative;
    left: 40%;
}
